:root{
    --blue1: #8ecae6;
    --blue2: #2696ca;
    --blue3: #023047;
    --yellow: #ffb703;
    --orenge: #fb858500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--blue3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s1{
    width: 100%;
    height: auto;
}

.img.s1{
    width: 100%;
    box-shadow: 0 4px #000;
}

.title{
    font-family: "Krona One", "sans-serif";
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}

.frase{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: var(--blue1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.line{
    background-color: orange;
    height: 3px;
    border: var(--yellow);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

 @media( width >= 768px){
    .img-s1{
        display:none;
    }
    .s1{
        background-image: url(./Images/beto1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80vh;
    }
 }

 .s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4vh;
 }

 .card{
    background-color: var(--yellow);
    border-radius: 20px;
    box-shadow: 0 4px #000;
 }